body{
    margin:0;
    font-family: Arial, sans-serif;
}

#home{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../image/gambar3.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.btn{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: rgba(10, 25, 47, 0.75);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-register{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #ffffff;
  color:black;
  text-decoration: none;
  border-radius: 5px;
}


.navbar{
    position: fixed;
    top: 0;
    width : 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 25, 47, 0.75);
    padding: 15px 20px;
}

.nav-link{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.nav-link li a{
    text-decoration: none;
    color: white;
}

.logo img{
    width: 60px;
    height: 60px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: white;
}